{% extends 'layout.html.twig' %}
{% block title %}{{ page_title }}{% endblock %}
{% block banner %}
    <div class="column">
        <div class="banner-div">

            <h1>{{ page_heading_1 }}</h1>
            <p class="cent">
                Page last updated on <script type="text/javascript">document.write(document.lastModified)</script>
                <br>
                Cosmin - Dylan - Edward
            </p>

            <a href="{{ landing_page }}">Home page</a> &nbsp;



        </div>
    </div>
    <div id="clear-div"></div>
{% endblock %}