{% extends 'banner.html.twig' %}
{% block content %}
    <div id="page-content-div" xmlns="http://www.w3.org/1999/html">


        <div class="column">




            <p id="select">Select Option</p>
            <p><span><img class="arrow-left"src="/AWMain/media/arrow.png"></span><a href="{{ send_sms }}">Send An SMS</a></p>

            <p><a href="{{ download_sms }}">Download SMS</a><span><img class="down" src="/AWMain/media/down.png"></span></p>
        </div>



    </div>
{% endblock %}