{% extends 'banner.html.twig' %}
{% block content %}
<div id="page-content-div">
    <p>{{ page_text }}</p>
    <p>Select Option</p>
    <p><a href="{{ send_sms }}">Send SMS</a></p>
    <p><a href="{{ download_sms }}">Download SMS</a></p>
</div>
{% endblock %}