html
{
    margin: 0px;
    padding: 0px;
    border: 0px;
 height: 100%;
}

body
{


    color: white;
    font-family: 'sans-serif', Arial;

    font-size: 1rem;
    opacity: 100%;



}

h1 {
    margin-top: -.3rem;
}

body {
    background: linear-gradient(-45deg, cornflowerblue, dodgerblue, royalblue);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
/***********************************************/
/* link styles                                 */
/***********************************************/


#select {
    font-weight: bolder;
    font-size: 1.5rem;
}

a:link
{
    color: white;
    background-color: transparent;
    opacity: 100%;
}
a:hover
{
    color: grey;
    background-color: transparent;
    opacity: 100%;
}
a:visited
{
    color: white;
    font-weight: bold;
    background-color: transparent;
    opacity: 100%;
}
/***********************************************/
/* division styles                             */
/***********************************************/
.banner-div
{
    text-align:center;
    padding: 1.5rem;
    width: 95%;

    background: linear-gradient(-45deg, royalblue, dodgerblue, cornflowerblue);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;

}
#page-content-div
{

}
#clear-div
{

}

.column
{
    display: flex;
    flex: 100%;
    height: 400px;
    justify-items: center;
    flex-direction: column;
    align-items: center;
    padding: 1rem;

}

.column1>label
{
    display: flex;
    flex: 100%;
    height: 600px;
    justify-items: center;
    align-items: center;
    padding: 1rem;
    text-align: left!important;
}

.column1
{
    display: flex;
    flex: 100%;
    height: 450px;
    justify-items: center;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    text-align: left!important;
    margin-top: -15rem;
    margin-left: 13.5rem;
}

.column2{
    display: flex;
    flex: 100%;
    height: 450px;
    justify-items: center;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    text-align: left!important;
    margin-top: 0rem;
    margin-left: 0rem;

}

.column2>input{


}

.send-btn {
    width: 15rem;
    font-size: 1.25rem;
    margin-left: 4.3%;
    border-radius: 2px;
    border: 0px solid white;
    padding: .35rem;
    margin-top: 1.7rem;

}


#test {

}



.cent
{
    text-align:center;
    line-height: 2.5rem;
    font-size: 1.1rem;


}
.heads
{


}
.curr_page
{
    color: white;
    font-weight: bolder;
    text-shadow: black;
    border: 1px solid red;
}
.result
{
    color: inherit;
    font-weight: bold;
    text-shadow: black;
}


label,
input {
    display: inline-block;

}


input{

color: black!important;

}


form {

}

label {
    width: 25%;
    text-align: right;
    padding: .7rem;
    font-size: 1.1rem;

}


label+input {
    width: 49.7%;
    font-size: 1rem;
    background-color: whitesmoke;
    padding: .7rem;
    color: white;
    border: none;
    margin-top: .3rem;

}

h2 {
font-size: 1.8rem;
    margin-top: -.7rem;
}


#switch-text {
    margin-left: -13rem;
}


textarea{
    font-size: 1rem;
    width: 60%;
    height: 15rem;
    outline: none;
    padding: .4rem;
    background-color: #3e3e3e;
    color: white;
    border: none;

    font-family: inherit;
}


.btn {
    width: 15rem;
    font-size: 1.25rem;
    margin-left: 39%;
    border-radius: 2px;
    border: 0px solid white;
    padding: .35rem;
    margin-top: 1.7rem;

}

.btn:hover {
    cursor: pointer;
    background-color: white;
}

.download-form {


}

fieldset {
border: none;
    outline:none;
    transition: border-bottom-width 1s;
    width: 50rem;
    margin-right: 4.3rem;
}

fieldset:first-child {
    margin-top: -.5rem;
}

#phone {
    font-size: 2.4rem;
   margin-left: 12.5rem;
    position: absolute;
    margin-top: .8rem;
}

.arrow-left {
    width: 2.2rem;
    margin-left: -3rem;
    margin-top: -.4rem;
    position: absolute;
}

.down {
    width: 2.5rem;
    margin-left: 1rem;
    margin-top: -.4rem;
    position: absolute;
}

#send-form {
    margin-top: 1rem;
}

#send-h2 {
    margin-top: -12rem;
}

#send-center {
    width: 35rem;
    line-height: 1.6rem;
    text-align: center;
}
